# Backend
SECRET_KEY=change-me
DEBUG=True
USE_SQLITE=True
SANDBOX_BASE_URL=http://localhost:8000
GOOGLE_CLIENT_ID=969201656229-h8isqsnu430niikndbbc2ojv5773trle.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# Frontend (.env.local)
# NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=969201656229-h8isqsnu430niikndbbc2ojv5773trle.apps.googleusercontent.com
